# System ignores
.DS_Store

# MATLAB ignores
*.m~
*.mat

#MODFLOW ignores
mf2005dbl
*.bas
*.dis
*.lpf
*.hds
*.nam
*.rch
*.wel
*.oc
*.list
*.pcg

# Python ignores
*.pyc
*.pkl
*.npz
*.pdf
*.png
__pycache__
